#Head {
    background-color: #c49a10;
    width: 100%;
    height: 220px;
    border-color: #392274;
    border-radius: 20px;
    border-width: 5px;
    border-style: solid;
}
#logo {
    padding-left: 15px;
    padding-top: 12px;
}
#Home-i {
    padding-left: 200px;
}
#About-i {
    padding-left: 20px;
}
#Contact-i {
    padding-left: 20px;
    padding-top: 80px;
}

#tk {
padding-left: 225px;
}

#slogon {
    margin-left: 500px;
}
#footer {
    width: 100%;
    height: 200px;
    border: black solid;
    background-color: rgb(31, 30, 30);
    margin-top: 50px;
}
#logo-f {
    padding: 10px;
}
.slogon-f {
    margin-left: 310px;
    padding-bottom: 40px;
}

#contact-info {
    margin-left: 120px;
}
.imgs {
    padding: 40px;
    margin-left: 30px;
}
.heads {
    color: rgb(0, 0, 0);
    font-family: -apple-system, BlinkMacSystemFont, 
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
    'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}